name: Release

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  semantic-release:
    name: Release
    runs-on: ubuntu-24.04
    outputs:
      new-release-published: ${{ steps.semantic-release.outputs.new_release_published }}
      new-release-version: ${{ steps.semantic-release.outputs.new_release_version }}
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Update npm
        run: npm install -g npm@latest

      - run: |
          npm clean-install
          npm run build

      - id: semantic-release
        uses: cycjimmy/semantic-release-action@v6
        with:
          semantic_version: 25.0.1 # version with latest npm and support for trusted publishing
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker-hub:
    name: Release on Docker Hub
    needs:
      - semantic-release
    if: needs.semantic-release.outputs.new-release-published == 'true'
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT from AWS
      contents: read
      packages: write
    steps:
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            supabase/postgres-meta
            public.ecr.aws/supabase/postgres-meta
            ghcr.io/supabase/postgres-meta
          tags: |
            type=raw,value=v${{ needs.semantic-release.outputs.new-release-version }}

      - uses: docker/setup-qemu-action@v3
        with:
          platforms: amd64,arm64
      - uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.PROD_AWS_ROLE }}
          aws-region: us-east-1

      - name: Login to ECR
        uses: docker/login-action@v3
        with:
          registry: public.ecr.aws

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
